Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

fix: add `ids` to `getDatasets` type
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix: add `validateWaveTemplate` typing
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): updates to analyticsWaveApi typings (#566)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore(release): v4.6.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

perf: improve time taken to init
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

perf: improve time taken to init (#568)
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

chore(release): v4.6.1 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: packages/lightning-lsp-common/package.json to reduce vulnerabilities
  packages/lightning-lsp-common/package.json
Due: frontend, common

feat: transition to @lwc/metadata for JS introspection
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/decorators/index.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/__tests__/fixtures/metadata.js
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore: update remaining LWC deps
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, lwc

chore: remove unnecessary comment
  packages/lwc-language-server/src/decorators/index.ts
Due: frontend, lwc

chore: cleanup
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

chore: await the async thing to make tests happy
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: cleanup tests
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
Due: frontend, lwc

chore: cleanup
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

chore: cleanup
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc

fix: weird indentation
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc

Update lds.d.ts for enagagementworkspace
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Update lds.d.ts for enagagementworkspace (#573)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore: await this.componentIndexer.init()
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: update snapshots to match new Jest snapshot format
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/tern-server/__tests__/__snapshots__/ternCompletion.spec.ts.snap
Due: frontend, aura

feat: transition to @lwc/metadata for LWC JS introspection (#570)
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/tern-server/__tests__/__snapshots__/ternCompletion.spec.ts.snap
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/decorators/index.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/__tests__/fixtures/metadata.js
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
  packages/lwc-language-server/src/lwc-server.ts
  yarn.lock
Due: frontend, aura, lwc, common

Update .nvmrc
  .nvmrc
Due: none

fix: Update .nvmrc (#574)
  .nvmrc
Due: none

chore(release): v4.7.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

CODEOWNERS Asterisk Fix
  .github/CODEOWNERS
Due: none

feat: ensure langauge server does not crash with no default export
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc

fix: language server would crash if main class could not be identified
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc

chore: new unit tests
  .github/workflows/unitTests.yml
Due: none

chore: try with lts-1 and lts*
  .github/workflows/unitTests.yml
Due: none

chore: delete old workflow and change references
  .github/workflows/onPushToMain.yml
  .github/workflows/testCommitExceptMain.yml
  .github/workflows/unitTests.yml
Due: none

Cristi/unit tests (#579)
  .github/workflows/onPushToMain.yml
  .github/workflows/testCommitExceptMain.yml
  .github/workflows/unitTests.yml
Due: none

fix: language server would crash if main class could not be identified (#578)
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc

chore(release): v4.7.1 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: add an executable file
  packages/lwc-language-server/bin/lwc-language-server.js
  packages/lwc-language-server/package.json
Due: frontend, lwc

feat: add executable for aura ls
  packages/aura-language-server/bin/aura-language-server.js
  packages/aura-language-server/package.json
Due: frontend, aura

chore: update validate GHA to enable edit check
  .github/workflows/validatePR.yml
Due: none

Make lwc & aura language server available to be run from an executable file (#580)
  packages/aura-language-server/bin/aura-language-server.js
  packages/aura-language-server/package.json
  packages/lwc-language-server/bin/lwc-language-server.js
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

fix: update metadata mapping to handle no getter
  packages/lwc-language-server/src/javascript/__tests__/fixtures/nogetter.js
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc
