Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

refactor: bye build n test
  .github/actions/notifications/slack_notify.yml
  .github/actions/setup-publish/buildLinux.yml
  .github/actions/setup-publish/buildWindows.yml
Due: none

docs: test for demo
  .github/workflows/onRelease.yml
Due: none

chore: workflows for release, push to main, slack and tests
  .github/actions/notifications/slack_notify.yml
  .github/actions/setup-publish/action.yml
  .github/workflows/onPushToMain.yml
  .github/workflows/onRelease.yml
  .github/workflows/slack_notify.yml
Due: none

chore: updated triggering workflows
  .github/workflows/slack_notify.yml
Due: none

chore: unit tests running x2
  .github/workflows/validatePR.yml
Due: none

chore: removed unit tests from validate pr
  .github/workflows/validatePR.yml
Due: none

chore: use of changelog and bump script
  .github/workflows/onPushToMain.yml
  .github/workflows/onRelease.yml
  .vscode/tasks.json
  package.json
  scripts/bump-lerna-version.js
Due: none

chore: version from fork :clown_face:
  .github/workflows/onPushToMain.yml
Due: none

chore: unused variables
  .github/workflows/slack_notify.yml
Due: none

chore: removed setup-publish directory
  .github/actions/setup-publish/action.yml
Due: none

chore: right version to bump
  .github/workflows/onPushToMain.yml
Due: none

chore: update lwc versions
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, lwc, common

chore: updated secret
  .github/workflows/onRelease.yml
Due: none

refactor: transition to github actions (#514)
  .circleci/config.yml
  .github/actions/gitConfig/action.yml
  .github/workflows/onPushToMain.yml
  .github/workflows/onRelease.yml
  .github/workflows/slack_notify.yml
  .github/workflows/testCommitExceptMain.yml
  .github/workflows/validatePR.yml
  .vscode/tasks.json
  README.md
  scripts/bump-lerna-version.js
  scripts/publish-workflow.sh
Due: none

chore: update secrets
  .github/workflows/onPushToMain.yml
Due: none

chore: update secret
  .github/workflows/onPushToMain.yml
Due: none

chore: update secret
  .github/workflows/onRelease.yml
Due: none

style: line
  .github/workflows/onRelease.yml
Due: none

chore: secrets update (#517)
  .github/workflows/onPushToMain.yml
  .github/workflows/onRelease.yml
Due: none

chore: update lwc versions (#518)
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, lwc, common

chore: add a manual release as a backup when one isn't triggered by CI
  .github/workflows/slackNotify.yml
  .github/workflows/startManualRelease.yml
Due: none

chore: add a manual release as a backup when one isn't triggered by CI (#521)
  .github/workflows/slackNotify.yml
  .github/workflows/startManualRelease.yml
Due: none

feat: update node to LTS
  .github/workflows/startManualRelease.yml
  .nvmrc
  package.json
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc

chore: bumped too big
  .github/workflows/startManualRelease.yml
  .nvmrc
  package.json
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc

chore: readme update
  README.md
Due: none

feat: node to LTS to support github actions release (#522)
  .github/workflows/startManualRelease.yml
  .nvmrc
  README.md
  package.json
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc

ci: update preCommit script to be a commonjs module
  scripts/bump-lerna-version.js
Due: none

ci: update preCommit script to be a commonjs module (#523)
  scripts/bump-lerna-version.js
Due: none

ci: add yarn step to push to main workflow
  .github/workflows/onPushToMain.yml
Due: none

ci: bump cov changelog to latest release
  .github/workflows/onPushToMain.yml
Due: none

ci: update script for pre-commit to not commit or add file
  scripts/bump-lerna-version.js
Due: none

ci: add bot token for checkout on release
  .github/workflows/onPushToMain.yml
Due: none

ci: add token to checkout step
  .github/workflows/onPushToMain.yml
Due: none

chore(release): 4.0.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

ci: add v as a tag prefix
  .github/workflows/onPushToMain.yml
Due: none

Revert "chore(release): 4.0.0 [skip ci]"
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore(release): v4.0.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

ci: simplify onRelease GHA
  .github/workflows/onRelease.yml
Due: none

ci: remove the token for now as it is not needed for an npm release
  .github/workflows/onRelease.yml
Due: none

ci: simplify onRelease GHA (#526)
  .github/workflows/onRelease.yml
Due: none
