Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

Update lock file one more time
  yarn.lock
Due: none

try relative path for npmrc
  .circleci/config.yml
Due: none

remove duplicate defaults
  .circleci/config.yml
  .npmrc
  vscode-workspaces/simple-lsp-all.code-workspace
Due: none

Revert "remove duplicate defaults"
  .circleci/config.yml
  .npmrc
  vscode-workspaces/simple-lsp-all.code-workspace
Due: none

auto-publish
  package.json
Due: none

regen lock file, remove duplicates
  .circleci/config.yml
  yarn.lock
Due: none

try bumping version separately from publish
  .circleci/config.yml
  package.json
Due: none

Publish NPM [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Use yarn run version, not yarn version
  .circleci/config.yml
Due: none

Use exact
  package.json
Due: none

Use exact versions
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

Add version number to publish message
  package.json
Due: none

Run version before updating the auth token
  .circleci/config.yml
Due: none

Configure git for pushing deploys
  .circleci/config.yml
Due: none

Publish v2.2.14 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

have npmrc use environment variable reference
  .circleci/config.yml
  .npmrc
Due: none

Set authToken in config.yml file again
  .circleci/config.yml
  .npmrc
Due: none

Rename builds to be consistent with each other
  .circleci/config.yml
Due: none

Windows CircleCI / Autopublish to NPM(#48)
  .appveyor.yml
  .circleci/config.yml
  .npmrc
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  yarn.lock
Due: frontend, lwc

Force publish for lerna version on deploy
  package.json
Due: none

remove caching for now
  .circleci/config.yml
Due: none

Force publish for lerna version on deploy (#50)
  package.json
Due: none

circleCI fixes
  .circleci/config.yml
  package.json
Due: none

use yarn.lock file for cache / separate win-linux caches
  .circleci/config.yml
Due: none

update ssh keys for github
  .circleci/config.yml
Due: none

add a proper deploy key
  .circleci/config.yml
Due: none

try lts
  .circleci/config.yml
Due: none

update package.json with repository information
  .circleci/config.yml
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix main package.json
  package.json
Due: none

try deploying after tests directly
  .circleci/config.yml
Due: none

add git config for deploy user
  .circleci/config.yml
Due: none

more git config
  .circleci/config.yml
Due: none

update deploy command
  .circleci/config.yml
Due: none

license files
  packages/aura-language-server/LICENSE.txt
  packages/lightning-lsp-common/LICENSE.txt
  packages/lwc-language-server/LICENSE.txt
Due: frontend, aura, lwc, common

Publish v2.2.15 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

comments in circleCI file
  .circleci/config.yml
Due: none

Publish v2.2.16 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

workspace updates / add scheduled and on demand NPM deploys
  .circleci/config.yml
  .vscode/settings.json
  .vscode/snippets.code-snippets
  README.md
  vscode-workspaces/aura-common-dx.1.code-workspace
  vscode-workspaces/aura-dx.code-workspace
  vscode-workspaces/lsp-all.code-workspace
  vscode-workspaces/lwc-common-dx.code-workspace
  vscode-workspaces/lwc-dx.code-workspace
  vscode-workspaces/multiroot-flat.code-workspace
  vscode-workspaces/multiroot-simple.code-workspace
Due: none

fix config.yml
  .circleci/config.yml
Due: none

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
