Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

ci: update manual release GHA in include yarn step
  .github/workflows/startManualRelease.yml
Due: none

chore(release): v4.0.1 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

ci: add yarn call to release flow due to lerna dep
  .github/workflows/onRelease.yml
Due: none

chore(release): v4.0.2 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat(common): typings for createDataset from analyticsWaveApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): typings for createDatasetVersion in analyticsWaveApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): typing for deleteDataConnector in analyticsWaveApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): typing for getActions in analyticsWaveApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): getDataConnectorSourceObjectDataPreviewWithFields typing
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): typing for getDataConnectorSourceObjects
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): getDatasetVersion(s) typings
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): getDependencies typing
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): getRecipeNotification typing
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): getSecurityCoverageDatasetVersion typing
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): getWaveTemplate* typings
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): updateDataset typing
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): updateDatasetVersion typings
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): updateRecipe typings
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): updateRecipeNotification typings
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): updateXmd typings
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore: allow for manual test runs
  .github/workflows/testCommitExceptMain.yml
Due: none

chore: allow for manual test runs (#529)
  .github/workflows/testCommitExceptMain.yml
Due: none

feat: lightning/analyticsWaveApi typings updates (#530)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore(release): v4.1.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: secrets update
  .github/workflows/slackNotify.yml
Due: none

chore: secrets update (#534)
  .github/workflows/slackNotify.yml
Due: none

fix: packages/lwc-language-server/package.json & packages/lwc-language-server/package-lock.json to reduce vulnerabilities
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, lwc

chore: lwc v2.35.2
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  test-workspaces/standard-workspace/package.json
Due: frontend, lwc, common

chore: update lockfile
  yarn.lock
Due: none

Add wire adapter type for getProgramTemplate in lightning/salesEnablementProgramApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

adapters for scheduler
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

@W-12350138@ place quote adapter
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix: spacing update and add place quote adapter
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore: upgrade lwc versions
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/javascript/compiler.ts
  test-workspaces/standard-workspace/package.json
Due: frontend, lwc, common

feat: lightning adapter updates and update lwc versions (#544)
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/javascript/compiler.ts
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, lwc, common

fix(messageservice.d.ts): fix type messageservice type annotations
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
Due: frontend, common

style(messageservice.d.ts): updating jsdoc format
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
Due: frontend, common

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
