Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Update @lwc dependencies (#217)
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/copy_typings.js
  packages/lightning-lsp-common/src/decorators/index.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/decorators/index.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  yarn.lock
Due: frontend, lwc, common

Yarn pack added, and configuration to run on vscode debugger
  .vscode/settings.json
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Move script build to node script (#216)
  packages/aura-language-server/package.json
  packages/aura-language-server/scripts/build.js
  packages/lightning-lsp-common/copy-static-assets.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/build.js
  packages/lightning-lsp-common/scripts/copy_typings.js
  packages/lwc-language-server/package.json
  packages/lwc-language-server/scripts/build.js
  yarn.lock
Due: frontend, aura, lwc, common

Updated version 3.0.6
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: fix merge conflict
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Updated version 3.0.6 (#224)
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Updated version 3.0.7
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Updated version 3.0.7 (#230)
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Deleted config to debug in vscode
  .vscode/settings.json
Due: none

New line at end of file in settings.json
  .vscode/settings.json
Due: none

Changed, to try trigger the inconsistent failure of snapshot
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Added other comment, to see if second try breaks the flow
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Deleted comments, see if the code breaks without changes, or up to date
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Re-added comments to see if we get the problem
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Deleted comments, see if now that we delete things it triggers the failure
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Re added comments
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Deleted comments again
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Add yarn pack to packages (#235)
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

See if the coverage flag is the problem
  packages/aura-language-server/package.json
Due: frontend, aura

Delete script added to see if it was the coverage flag
  packages/aura-language-server/package.json
Due: frontend, aura

See if all promises are resolved
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Console log promises
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Inspecting aura:component before comparing
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

fix: fix lwc server init in core modules
  .vscode/settings.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

Check tags before normalizing
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

Seeing if the aura standard are loaded
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

More logs to debug the load standard comps
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

moved code to see what happen when we're loading the system tags
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

Check if changing the way the promises are resolved, it fix the problem
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

Deleted logs
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

CircleCi failing with snapshot compare (#237)
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

fix: fix lwc server init in core modules (#238)
  .vscode/settings.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

Missed dependencies (#200)
  packages/lightning-lsp-common/package.json
Due: frontend, common
