Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

Update CODEOWNERS with GUSINFO (#471)
  .github/CODEOWNERS
Due: none

chore: enhance autocompletion in HTML file
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

test: add test
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

chore(lwc-server): format
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: formatting
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: update volta node/yarn versions
  package.json
Due: none

chore: update lwc
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lwc-language-server/package.json
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, lwc, common

test: fix test
  packages/lwc-language-server/src/template/__tests__/linter.test.ts
Due: frontend, lwc

test: better fix for test
  packages/lwc-language-server/src/template/__tests__/linter.test.ts
Due: frontend, lwc

fix: packages/lwc-language-server/package.json & packages/lwc-language-server/package-lock.json to reduce vulnerabilities
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, lwc

chore: comment out doComplete and doTagComplete in html-language-service
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
Due: frontend, common

chore: create a new function to find {
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: update volta node/yarn versions (#501)
  package.json
Due: none

chore: reverse htmlCompletion file
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
Due: frontend, common

test: add more test for reg pattern
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/todo/todo.html
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/todo/todo.js
Due: frontend, lwc

fix: User input character should re-trigger autocomplete inside {} for HTML file (#496)
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/todo/todo.html
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/todo/todo.js
Due: frontend, lwc

chore: update lwc, engine, errors, and template-compiler (#502)
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/template/__tests__/linter.test.ts
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, lwc, common

Updated version 3.9.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: handle malformed tags quietly
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/javascript/__tests__/fixtures/navmetadata.js
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

chore: added error logging
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

chore: comment cleanup
  packages/lwc-language-server/src/__tests__/tag.test.ts
Due: frontend, lwc

Add wire adapter type for getProgramTemplates in lightning/salesEnablementProgramApi package.
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

CLA regenerate commit
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

@W-11223056 - Add wire adapter type for getProgramTemplates in lightning/salesEnablementProgramApi package. (#506)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix: handle malformed tags quietly (#505)
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/javascript/__tests__/fixtures/navmetadata.js
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Updated version 3.10.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: no more double logging to the lwc lang server tab
  packages/lightning-lsp-common/src/logger.ts
Due: frontend, common

fix: no more double logging to the lwc lang server tab (#510)
  packages/lightning-lsp-common/src/logger.ts
Due: frontend, common

fix: update CI
  .circleci/config.yml
Due: none

fix: update CI (#511)
  .circleci/config.yml
Due: none

Updated version 3.11.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: udpated build failures
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  yarn.lock
Due: frontend, lwc

Add workflow forcedotcom/lightning-language-server/commit-workflow
  .github/workflows/commit-workflow.yml
Due: none

Add composite action circleci_slack_notify
  .github/actions/slack_notify/action.yml
Due: none

refactor: transition to github actions
  .circleci/config.yml
  .github/actions/gitConfig/action.yml
  .github/actions/notifications/slack_notify.yml
  .github/workflows/onPushToMain.yml
  .github/workflows/onRelease.yml
  .github/workflows/testCommitExceptMain.yml
  .github/workflows/valdatePR.yml
  .vscode/tasks.json
  README.md
  scripts/publish-workflow.sh
Due: none

chore: moved slack notification logic
  .github/actions/notifications/slack_notify.yml
  .github/workflows/onPushToMain.yml
  .github/workflows/onRelease.yml
  .github/workflows/valdatePR.yml
Due: none

refactor: adds version so workflow runs ok
  .github/actions/setup-publish/action.yml
  .github/actions/setup-publish/buildLinux.yml
  .github/actions/setup-publish/buildWindows.yml
  package.json
Due: none

refactor: try 34567
  .github/workflows/onRelease.yml
  .github/workflows/testCommitExceptMain.yml
  .github/workflows/validatePR.yml
Due: none

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
