Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

fix: add inline sourcemaps
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

Publish v2.3.11 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.12 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: 🎉check lightning namespace check
  packages/lwc-language-server/src/template/linter.ts
Due: frontend, lwc

fix: add linter test
  packages/lwc-language-server/src/template/__tests__/linter.test.ts
Due: frontend, lwc

feat: first iteration on quickfix action
  packages/lwc-language-server/src/server.ts
  packages/lwc-language-server/src/template/code-actions.ts
Due: frontend, lwc

fix: packages/aura-language-server/package.json & packages/aura-language-server/.snyk to reduce vulnerabilities
  packages/aura-language-server/package.json
Due: frontend, aura

fix: packages/aura-language-server/package.json & packages/aura-language-server/.snyk to reduce vulnerabilities
  packages/aura-language-server/.snyk
Due: frontend, aura

fix: packages/lwc-language-server/package.json & packages/lwc-language-server/.snyk to reduce vulnerabilities
  packages/lwc-language-server/package.json
Due: frontend, lwc

fix: packages/lwc-language-server/package.json & packages/lwc-language-server/.snyk to reduce vulnerabilities
  packages/lwc-language-server/.snyk
Due: frontend, lwc

Publish v2.3.13 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: 🚀 implement QuickFix actions
  packages/lwc-language-server/src/template/__tests__/code-actions.test.ts
  packages/lwc-language-server/src/template/code-actions.ts
  packages/lwc-language-server/src/template/constants.ts
Due: frontend, lwc

feat: 🎉 lightning namespace check (#112)
  packages/lwc-language-server/src/template/__tests__/linter.test.ts
  packages/lwc-language-server/src/template/linter.ts
Due: frontend, lwc

fix: remove OSS test components
  test-workspaces/oss-lwc-workspace/jsconfig.json
  test-workspaces/oss-lwc-workspace/lwc-services.config.js
  test-workspaces/oss-lwc-workspace/package.json
  test-workspaces/oss-lwc-workspace/server.js
  test-workspaces/oss-lwc-workspace/src/main.js
  test-workspaces/oss-lwc-workspace/src/modules/my/app/app.css
  test-workspaces/oss-lwc-workspace/src/modules/my/app/app.html
  test-workspaces/oss-lwc-workspace/src/modules/my/app/app.js
  test-workspaces/oss-lwc-workspace/src/modules/my/app/app.ts
  test-workspaces/oss-lwc-workspace/src/modules/my/greeting/greeting.css
  test-workspaces/oss-lwc-workspace/src/modules/my/greeting/greeting.html
  test-workspaces/oss-lwc-workspace/src/modules/my/greeting/greeting.js
  test-workspaces/oss-lwc-workspace/src/modules/my/greeting/greeting.ts
  test-workspaces/oss-lwc-workspace/static/index.html
  test-workspaces/oss-lwc-workspace/static/js/main.js
  test-workspaces/oss-lwc-workspace/tsconfig.json
Due: none

Publish v2.3.14 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: switch to lwc.config.json / lwc for STANDARD_LWC workspace
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lwc-language-server/src/indexer.ts
  test-workspaces/standard-workspace/package.json
Due: frontend, lwc, common

feat: add tests
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
Due: frontend, common

feat: detect lwc key in test for new module resolution config
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
Due: frontend, common

fix: correct workspace test
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

fix: update test to check for three roots
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

Detect STANDARD_LWC workspace from `lwc.config.js`
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

add check for the lwc-services package and a test for it
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Detect STANDARD_LWC on the package.json `lwc` config key
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Don't use mockFS.restore in each individual test
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
Due: frontend, common

Detect STANDARD LWC workspace on updated values
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Fix typos and mis-prints
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Check for `lwc` package dependency
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Don't check for `lwc-services`
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

activate on the lwc-services dependency (#120)
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Handle connection.onInitizlize with `inialize()`
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Handle onCompletion with `completion()`
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Handle `onCompletionResolve` with `completion()`
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Handle `onHover` with `hover()`
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Handle `onDefinition` with `definition()`
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Handle `onDidChangeWatchedFiles` with `changedFile()`
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Move/cleanup connection.onRequest
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
