Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Use --exact, update doc to use yarn publish-lsp
  README.md
  package.json
Due: none

Use exact versions for the language servers
  packages/aura-language-server/package.json
Due: frontend, aura

v2.2.9
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

More updates to the scope for the package name
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/content-assets-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-labels-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/static-resource-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
Due: frontend, aura, lwc

Trying to run the build on windows in circleci, config.yml configured
  .circleci/config.yml
Due: none

Remove appveyor config file
  .appveyor.yml
Due: none

Update the command for npm publish
  .circleci/config.yml
Due: none

Indent the run info more
  .circleci/config.yml
Due: none

More indenting
  .circleci/config.yml
Due: none

one single workflow
  .circleci/config.yml
Due: none

Wrong name of jobs
  .circleci/config.yml
Due: none

More indentation
  .circleci/config.yml
Due: none

At needed more indentation
  .circleci/config.yml
Due: none

Trying to persist right
  .circleci/config.yml
Due: none

Debugging tests-on-windows not having docker specified
  .circleci/config.yml
Due: none

Dont do windows for now
  .circleci/config.yml
Due: none

npx on lerna
  package.json
Due: none

undo npx on lerna
  .circleci/config.yml
  package.json
Due: none

Fixed formatting
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
Due: frontend, lwc, common

Fixed variable names
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Updated Jest tests
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

update yarn lock file
  yarn.lock
Due: none

initial test fixes
  packages/lwc-language-server/src/metadata-utils/__tests__/content-assets-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-labels-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/mock-file-util.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/static-resource-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
Due: frontend, lwc

remove debugger
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
Due: frontend, lwc

fix static resources tests
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
Due: frontend, lwc

fix message service tests
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
Due: frontend, lwc, common

fix issues with unit tests giving false positives (#47)
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/content-assets-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-labels-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/mock-file-util.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/static-resource-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
Due: frontend, lwc, common

Stop doing separate build step
  .circleci/config.yml
Due: none

still run build, but dont require it
  .circleci/config.yml
Due: none

Publish to npmjs instead of lwcjs
  .npmrc
  README.md
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc, common

Reference packages in their @salesforce scope
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

Move references to @salesforce
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/__tests__/ternCompletion.spec.ts
  packages/lwc-language-server/src/__tests__/config.test.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlCompletion.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlDefinition.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlOver.test.ts
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/markup/lwcTags.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-components-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/content-assets-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-labels-util.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
  packages/lwc-language-server/src/server.ts
Due: frontend, aura, lwc

v2.2.8
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

More updates to the scope for the package name
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
Due: frontend, aura, lwc

Rebase and add deploy
  .circleci/config.yml
Due: none
