Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

chore: add debug logs for failing ut
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

chore: add more logs
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

chore: more logs
  packages/lwc-language-server/src/context/lwc-context.ts
Due: frontend, lwc

chore: try path.posix
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

fix: undo debug logs
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/context/lwc-context.ts
Due: frontend, lwc

fix: remove dupe and promisify
  package.json
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/context/aura-context.ts
  packages/aura-language-server/src/util/component-util.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/context/lwc-context.ts
  yarn.lock
Due: frontend, aura, lwc, common

fix: pr feedback
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/scripts/copy_typings.js
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/fs-utils.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/context/lwc-context.ts
Due: frontend, aura, lwc, common

fix: delete fs-utils
  packages/aura-language-server/src/context/aura-context.ts
  packages/lightning-lsp-common/src/__tests__/workspace-context.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/fs-utils.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/context/lwc-context.ts
Due: frontend, aura, lwc, common

fix: remove unused import
  packages/lightning-lsp-common/src/base-context.ts
Due: frontend, common

chore(release): v4.12.8 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: tree shaking improvements
  .gitignore
  compare-bundle-sizes.js
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/index.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/context/lwc-context.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
  real-world-analysis.js
  yarn.lock
Due: frontend, aura, lwc, common

fix: oop to functional
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/indexer/attributeInfo.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/aura-data-provider.ts
  packages/lwc-language-server/src/base-indexer.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/src/typing-indexer.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, aura, lwc, common

fix: remove all unnecessary classes
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/lwc-server.ts
  yarn.lock
Due: frontend, aura, lwc, common

fix: prefer conts/types over enums in LLS
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/context/aura-context.ts
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/__tests__/workspace-context.ts
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/indexer/attributeInfo.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/context/lwc-context.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/template/linter.ts
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, aura, lwc, common

fix: use string unions instead
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/context/aura-context.ts
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/__tests__/workspace-context.ts
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/indexer/attributeInfo.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/context/lwc-context.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/typing-indexer.ts
  yarn.lock
Due: frontend, aura, lwc, common

fix: enum duplicated
  packages/lwc-language-server/src/template/linter.ts
Due: frontend, lwc

fix: regenerate yarn lock
  yarn.lock
Due: none

fix: fix unused export
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

chore(release): v4.12.9 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: lint issues
  .eslintrc.json
  package.json
  packages/aura-language-server/src/__tests__/aura-utils.test.ts
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/tern-server/string-util.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-indexer.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/aura-language-server/src/util/component-util.ts
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/aura-data-provider.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/template/linter.ts
  packages/lwc-language-server/src/typing.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore(release): v4.12.10 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: bump dep versions
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, lwc

chore(release): v4.12.11 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore(release): v4.12.12 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: update deps - devDeps
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/tern/bin/tern
  packages/aura-language-server/src/tern/package.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  yarn.lock
Due: frontend, aura, lwc, common

fix: restore typings correctly
  packages/lightning-lsp-common/src/base-context.ts
Due: frontend, common

fix: remove eslint.nodePath
  packages/lightning-lsp-common/core.code-workspace
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/resources/core/core.code-workspace.json
  packages/lightning-lsp-common/src/resources/core/settings-core.json
  packages/lwc-language-server/core.code-workspace
  test-workspaces/core-like-workspace/app/main/core/ui-force-components/core.code-workspace
  test-workspaces/sfdx-workspace/core.code-workspace
Due: frontend, lwc, common

chore(release): v4.12.13 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: prevent publish test-workspaces
  .gitignore
  packages/aura-language-server/.npmignore
  packages/lightning-lsp-common/.npmignore
  packages/lightning-lsp-common/core.code-workspace
  packages/lightning-lsp-common/src/resources/core/core.code-workspace.json
  packages/lightning-lsp-common/src/resources/core/settings-core.json
  packages/lwc-language-server/.npmignore
  packages/lwc-language-server/core.code-workspace
Due: frontend, aura, lwc, common

fix: packages/lightning-lsp-common/package.json to reduce vulnerabilities
  packages/lightning-lsp-common/package.json
Due: frontend, common

fix: packages/aura-language-server/src/tern/package.json to reduce vulnerabilities
  packages/aura-language-server/src/tern/package.json
Due: frontend, aura

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
