Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

Code Cov io badge
  README.md
Due: none

Publish code coverage data to CodeCov.io (#23)
  .circleci/config.yml
  .gitignore
  README.md
  codecov.yml
Due: none

[W-7120094] Add badges to Readme
  README.md
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/core.code-workspace
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/.appveyor.yml
  packages/lwc-language-server/README.md
  packages/lwc-language-server/core.code-workspace
  packages/lwc-language-server/package.json
  test-workspaces/core-like-workspace/app/main/core/ui-force-components/.vscode/settings.json
Due: frontend, aura, lwc, common

[W-7120094] Add badges to Readme (#24)
  README.md
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/core.code-workspace
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/.appveyor.yml
  packages/lwc-language-server/README.md
  packages/lwc-language-server/core.code-workspace
  packages/lwc-language-server/package.json
  test-workspaces/core-like-workspace/app/main/core/ui-force-components/.vscode/settings.json
Due: frontend, aura, lwc, common

add tests for package.json
  packages/aura-language-server/jest.config.js
  packages/aura-language-server/jest/matchers.ts
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/typings/jest-custom-matchers.d.ts
  packages/aura-language-server/typings/jest.d.ts
  packages/aura-language-server/typings/missing.d.ts
  packages/lightning-lsp-common/jest.config.js
  packages/lightning-lsp-common/jest/matchers.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/typings/jest.d.ts
  packages/lightning-lsp-common/typings/missing.d.ts
  packages/lwc-language-server/jest.config.js
  packages/lwc-language-server/jest/matchers.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/typings/jest.d.ts
  packages/lwc-language-server/typings/missing.d.ts
  yarn.lock
Due: frontend, aura, lwc, common

edit comment
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
Due: frontend, aura, lwc, common

add tests for package.json (#25)
  packages/aura-language-server/jest.config.js
  packages/aura-language-server/jest/matchers.ts
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/typings/jest-custom-matchers.d.ts
  packages/aura-language-server/typings/jest.d.ts
  packages/aura-language-server/typings/missing.d.ts
  packages/lightning-lsp-common/jest.config.js
  packages/lightning-lsp-common/jest/matchers.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/typings/jest.d.ts
  packages/lightning-lsp-common/typings/missing.d.ts
  packages/lwc-language-server/jest.config.js
  packages/lwc-language-server/jest/matchers.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/typings/jest.d.ts
  packages/lwc-language-server/typings/missing.d.ts
  yarn.lock
Due: frontend, aura, lwc, common

[W-7151419] Don't update jsconfig with existing content
  packages/lwc-language-server/src/config.ts
Due: frontend, lwc

[W-7151419] Don't update jsconfig with existing content (#26)
  packages/lwc-language-server/src/config.ts
Due: frontend, lwc

v2.2.6
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

update doc
  README.md
Due: none

fix package versions
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

v2.2.7
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Outline for the workspaceType unit tests
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
Due: frontend, common

Unit tests for workspace detection
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  yarn.lock
Due: frontend, common

Code review updates, no async tests, comment on console log mock
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
Due: frontend, common

Regenerate lock file
  yarn.lock
Due: none

Upgrade node to 10.15.3
  .circleci/config.yml
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
Due: frontend, common

Revert htmlCompletion.ts update
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
Due: frontend, common

Upgrade the tslint, prettier, and add tslint-config-prettier so they work well together
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/tslint.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/tslint.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/custom-labels-util.ts
  packages/lwc-language-server/tslint.json
  yarn.lock
Due: frontend, aura, lwc, common

Formatting issue in the test
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/apex.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/contentassets.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/customlabels.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/engine.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/schema.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/staticresources.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/user.d.ts
Due: frontend, common

Fix test failure with regards to quotes
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/apex.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/engine.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/schema.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/user.d.ts
Due: frontend, common

Fix test failures, hardcode vscode-uri version
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/contentassets.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/customlabels.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/staticresources.d.ts
  yarn.lock
Due: frontend, aura, lwc

Workspace tests (#27)
  .circleci/config.yml
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/tslint.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/tslint.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/custom-labels-util.ts
  packages/lwc-language-server/tslint.json
  yarn.lock
Due: frontend, aura, lwc, common

add type definitions for lightning/messageService
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
Due: frontend, common

properly copy messageservice type definition
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

add custom indexer for message channels
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
Due: frontend, lwc

multiroot fixes
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
Due: frontend, lwc

add message channel test data / delete test project metadata
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/apex.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/contentassets.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/customlabels.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/engine.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/lds.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/schema.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/staticresources.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/user.d.ts
  test-workspaces/sfdx-workspace/force-app/main/default/messageChannels/Channel1.messageChannel-meta.xml
  test-workspaces/sfdx-workspace/force-app/main/default/messageChannels/Channel2.messageChannel-meta.xml
Due: none

update gitignore for test data
  test-workspaces/.gitignore
Due: none

wip
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
  scripts/removeTestData.js
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/index/index.js
Due: frontend, common

script for removing test metadata
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  scripts/removeTestData.js
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/index/index.js
  test-workspaces/standard-workspace/jsconfig.json
  yarn.lock
Due: frontend, aura, lwc, common

fix scripts
  scripts/removeTestData.js
  test-workspaces/core-like-workspace/app/main/core/ui-force-components/.vscode/settings.json
Due: none

tests for message channel indexing
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
Due: frontend, lwc

[W-7158536] Add dependabot config
  .dependabot/config.yml
Due: none

Add messageChannel support to the lwc language server (#39)
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
  scripts/removeTestData.js
  test-workspaces/.gitignore
  test-workspaces/core-like-workspace/app/main/core/ui-force-components/.vscode/settings.json
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/apex.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/contentassets.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/customlabels.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/engine.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/lds.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/schema.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/staticresources.d.ts
  test-workspaces/sfdx-workspace/.sfdx/typings/lwc/user.d.ts
  test-workspaces/sfdx-workspace/force-app/main/default/messageChannels/Channel1.messageChannel-meta.xml
  test-workspaces/sfdx-workspace/force-app/main/default/messageChannels/Channel2.messageChannel-meta.xml
  test-workspaces/standard-workspace/jsconfig.json
  yarn.lock
Due: frontend, aura, lwc, common

Publish to npmjs instead of lwcjs
  .npmrc
  README.md
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc, common

Reference packages in their @salesforce scope
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

Move references to @salesforce
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/__tests__/ternCompletion.spec.ts
  packages/lwc-language-server/src/__tests__/config.test.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlCompletion.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlDefinition.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlOver.test.ts
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/markup/lwcTags.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/content-assets-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-components-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/static-resource-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/content-assets-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-labels-util.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
  packages/lwc-language-server/src/server.ts
Due: frontend, aura, lwc

v2.2.8
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
