Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Add code owners file
  .github/CODEOWNERS
Due: none

Update circleci publish workflow
  .circleci/config.yml
  .vscode/settings.json
  .vscode/tasks.json
  scripts/publish-workflow.sh
Due: none

Update project to version 3.0.0 and upgrade bash script perms
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  scripts/publish-workflow.sh
Due: frontend, aura, lwc, common

Configuration updates (#180)
  .circleci/config.yml
  .github/CODEOWNERS
  .gitignore
  .vscode/settings.json
  .vscode/tasks.json
  lerna.json
  packages/aura-language-server/.npmignore
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/.npmignore
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/component-indexer.ts
  scripts/publish-workflow.sh
  yarn.lock
Due: frontend, aura, lwc, common

Update publish circleci flow
  .circleci/config.yml
  package.json
Due: none

Update publish circleci flow (#181)
  .circleci/config.yml
  package.json
Due: none

Updated version 3.0.1
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Move to .npmrc for circleci config
  .circleci/config.yml
Due: none

Fix linting
  .circleci/config.yml
Due: none

Move to .npmrc for circleci config (#182)
  .circleci/config.yml
Due: none

Move to .npmrc for circleci config (#182) (#184)
  .circleci/config.yml
Due: none

Remove npmrc
  .gitignore
  .npmrc
Due: none

v3.0.2
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Fix lang server not returning js component suggestions. Fix undefined errors when triggering autocompletions. Fix custom components not being persisted.
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Tests for tag
  packages/lwc-language-server/src/__tests__/tag.test.ts
Due: frontend, lwc

Update regex
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Revert regex changes
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Set eslint configuration, delete tslint configs, first pass at fixing eslint errors and warnings
  .eslintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/aura-language-server/.eslintrc.js
  packages/aura-language-server/.eslintrc.json
  packages/aura-language-server/package.json
  packages/aura-language-server/tslint.json
  packages/lightning-lsp-common/.eslintignore
  packages/lightning-lsp-common/.eslintrc.json
  packages/lightning-lsp-common/.huskyrc
  packages/lightning-lsp-common/.lintstagedrc
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/src/component-util.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/tslint.json
  packages/lwc-language-server/.eslintrc.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/tslint.json
  yarn.lock
Due: frontend, aura, lwc, common

temporarily remove pre push and pre commit tasks
  .huskyrc
  package.json
  packages/aura-language-server/.huskyrc
  packages/aura-language-server/.lintstagedrc
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/.huskyrc
  packages/lwc-language-server/.lintstagedrc
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Remove redundant value check
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

LWC onCompletion & indexing regression bug fixes (#189)
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Add security.md
  SECURITY.md
Due: none

Add security.md (#190)
  SECURITY.md
Due: none

Update publish configuration. Add volta configurations
  .circleci/config.yml
  package.json
Due: none

Update publish configuration (#197)
  .circleci/config.yml
  package.json
Due: none

Updated version 3.0.3
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common
