Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

chore: typo
  packages/aura-language-server/src/tern-server/tern-server.ts
Due: frontend, aura

chore: some very good pr feedback
  packages/aura-language-server/src/tern-server/__tests__/__snapshots__/ternCompletion.spec.ts.snap
  packages/aura-language-server/src/tern-server/tern-server.ts
Due: frontend, aura

chore: pr feedback
  packages/aura-language-server/src/tern-server/tern-server.ts
Due: frontend, aura

chore(release): v4.12.4 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: missing required files for ospo compliance
  LICENSE.txt
  how_to_license.md
Due: none

fix: address review feedback
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/tsconfig.json
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/tsconfig.json
  packages/lwc-language-server/src/javascript/type-mapping.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/tsconfig.json
  yarn.lock
Due: frontend, aura, lwc, common

fix: try loop to see if windows works
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: try loop to see if windows works
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, aura, common

fix: await
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: locally working
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: try windows fix
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

chore: add logging to debug windows
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: try full path
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: remove debug logs
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: refactor resources files folders
  packages/aura-language-server/scripts/build.js
  packages/aura-language-server/scripts/transform-aura-system.js
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/build-time-resources/aura-system.json
  packages/aura-language-server/src/resources/aura-system-internal.js
  packages/aura-language-server/src/resources/transformed-aura-system.json
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/build-time-resources/lwc-standard.json
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/resources/transformed-lwc-standard.json
Due: frontend, aura, lwc

fix: spliting and adding comments
  packages/aura-language-server/src/__tests__/aura-utils.test.ts
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/aura-utils.ts
Due: frontend, aura

fix: update tests and match functionality
  packages/aura-language-server/src/__tests__/aura-utils.test.ts
  packages/aura-language-server/src/aura-utils.ts
Due: frontend, aura

fix: pr feedback and removing unnecessary dependencies.
  packages/aura-language-server/package.json
  packages/aura-language-server/scripts/transform-aura-system.js
  packages/aura-language-server/tsconfig.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/shared.ts
  packages/lightning-lsp-common/tsconfig.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/tsconfig.json
  yarn.lock
Due: frontend, aura, lwc, common

chore(release): v4.12.5 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: remove unused code path.
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

chore(release): v4.12.6 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: removing lodash as it won't be needed in DX
  packages/lightning-lsp-common/jest/matchers.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
  yarn.lock
Due: frontend, common

fix: update eslint and add rules for dependency issues
  .eslintrc.json
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/aura-utils.test.ts
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/aura-data-provider.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/template/linter.ts
  packages/lwc-language-server/src/typing-indexer.ts
  yarn.lock
Due: frontend, aura, lwc, common

fix: removing lodash as it won't be needed in DX W-19377429 (#615)
  .eslintrc.json
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/aura-utils.test.ts
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-server.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/jest/matchers.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/aura-data-provider.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/template/linter.ts
  packages/lwc-language-server/src/typing-indexer.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore(release): v4.12.7 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc, common

fix: delete unused files
  packages/aura-language-server/src/decorators/sharedTypes.ts
  packages/aura-language-server/src/indexer/sharedTypes.ts
  packages/lwc-language-server/src/decorators/sharedTypes.ts
  packages/lwc-language-server/src/indexer/sharedTypes.ts
Due: frontend, aura, lwc

fix: unused index files
  packages/aura-language-server/src/decorators/index.ts
  packages/aura-language-server/src/indexer/index.ts
  packages/lwc-language-server/src/decorators/index.ts
  packages/lwc-language-server/src/indexer/index.ts
Due: frontend, aura, lwc

fix: fixing cursor mess up
  packages/aura-language-server/src/context/aura-context.ts
  packages/lightning-lsp-common/src/decorators/index.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/context/lwc-context.ts
  packages/lwc-language-server/src/decorators/index.ts
  packages/lwc-language-server/src/decorators/lwc-decorators.ts
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
  packages/lwc-language-server/src/lwc-utils.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, aura, lwc, common

fix: update comment
  packages/lightning-lsp-common/src/base-context.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: removing merge markers
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  yarn.lock
Due: frontend, lwc

fix: update paths logic for windows
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc, common

fix: remove methods not needed in LLS
  packages/aura-language-server/src/util/component-util.ts
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, aura, common

fix: remove shelljs and move context impl
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/__tests__/workspace-context.ts
  packages/lightning-lsp-common/src/index.ts
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, lwc, common

fix: paths
  packages/lightning-lsp-common/src/index.ts
  packages/lwc-language-server/src/context/lwc-context.ts
Due: frontend, lwc, common

fix: try init server
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

fix: try return mock
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc
