Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

feat: Add type for getDataflow wire adapter (#467)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Updated version 3.2.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix(launch.json and package.json): all tests and build step (#475)
  .vscode/launch.json
  README.md
  imgs/workspace-flat.png
  imgs/workspace-simple.png
  package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, lwc

Updated version 3.3.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat(lwc language server): added komaci static analysis
  package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/lwc-server.ts
  yarn.lock
Due: frontend, lwc

chore: use context for env variables
  .circleci/config.yml
Due: none

chore: use context for common env variables
  .circleci/config.yml
Due: none

chore: use context for common env variables (#481)
  .circleci/config.yml
Due: none

chore: rename npm_publish_token to npm_token
  .circleci/config.yml
Due: none

Ra/context for env variables (#482)
  .circleci/config.yml
Due: none

Updated version 3.4.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

test: adding tests for lwc template auto completion
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc, common

chore: updated lwc debug port
  .vscode/launch.json
  packages/lwc-language-server/.vscode/launch.json
Due: frontend, lwc

test(lwc-data-provider.test.ts): add unit tests for lwc-data-provider
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
Due: frontend, lwc

chore: updated lwc debug port (#484)
  .vscode/launch.json
  packages/lwc-language-server/.vscode/launch.json
Due: frontend, lwc

feat(lwc-language-server): enhance autocompletion for js/html
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

feat(lwc-language-server): enhance autocompletion for js/html (#487)
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

Updated version 3.5.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: add fixed iterator:it syntax
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

chore: update git2gus config
  .git2gus/config.json
Due: none

chore: update git2gus config (#489)
  .git2gus/config.json
Due: none

chore: review
  packages/lwc-language-server/scripts/convert.js
Due: frontend, lwc

feat: add iterator syntax (#488)
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

Updated version 3.6.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: removed curly brace autocomplete in lwc js files (W-10832653)
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: merge fail
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: review cleanup
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

chore: type improvements - yay typescript!
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

fix: Prevent excessive autocompletion in template JS files (#490)
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

Updated version 3.7.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: fixed for:each error on hover
  packages/lwc-language-server/src/lwc-data-provider.ts
Due: frontend, lwc

test: add one test, break a few others
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/navigationCmp/navigationCmp.html
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/navigationCmp/navigationCmp.js
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/navigationCmp/navigationCmp.js-meta.xml
Due: frontend, lwc

feat: added unit test for case when t.classMembers is undefined
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
Due: frontend, lwc

chore: cleanup extra files and test failures
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/navigationCmp/navigationCmp.html
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/navigationCmp/navigationCmp.js
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/navigationCmp/navigationCmp.js-meta.xml
Due: frontend, lwc

chore: sm cleanup
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
Due: frontend, lwc

chore: lint cleanup
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
Due: frontend, lwc

chore: lint cleanup
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
Due: frontend, lwc

fix: fixed for:each error on hover (#491)
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
Due: frontend, lwc

Updated version 3.8.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: packages/lwc-language-server/package.json & packages/lwc-language-server/package-lock.json to reduce vulnerabilities
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, lwc

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
