Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Typing returns a filepath()
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Return paths to indexed typings
  packages/lwc-language-server/src/__tests__/index.test.ts
  packages/lwc-language-server/src/index.ts
Due: frontend, lwc

Re-introduce an indexing class
  packages/lwc-language-server/src/__tests__/index.test.ts
  packages/lwc-language-server/src/index.ts
Due: frontend, lwc

Rename typing generators
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Consolidate feet lsp indexes
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Get diff of existing and stale typings
  packages/lwc-language-server/src/__tests__/index.test.ts
  packages/lwc-language-server/src/index.ts
Due: frontend, lwc

Index meta files
  packages/lwc-language-server/.prettierrc
  packages/lwc-language-server/src/__tests__/index.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/index.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Format index test
  packages/lwc-language-server/src/__tests__/index.test.ts
Due: frontend, lwc

Update Typings and Index
  packages/lwc-language-server/src/__tests__/index.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/index.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Introduce Tag
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/foo.json
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Rename Index to TypingIndexer
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

WIP
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/resources/convert.js
  packages/lwc-language-server/src/resources/standard-lwc.json
  packages/lwc-language-server/src/server.ts
  yarn.lock
Due: frontend, aura, lwc, common

Publish v2.3.18 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Rename use of 'lwc.config.js` to `lwc.config.json`
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Rename use of 'lwc.config.js` to `lwc.config.json` (#152)
  packages/lightning-lsp-common/src/__tests__/workspace-type.test.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Publish v2.3.19 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.20 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Update circleci configuration. Part 1
  .circleci/config.yml
Due: none

Update CircleCI release config to work out of the main branch (#161)
  .circleci/config.yml
Due: none

Generate declarations with a full file path
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Generate static resource typing
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Generate message channel declaration
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Add types in tests
  packages/lwc-language-server/src/__tests__/typing.test.ts
Due: frontend, lwc

Throw error on unsupported meta files
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Generate content-asset typing
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Clean up tests
  packages/lwc-language-server/src/__tests__/typing.test.ts
Due: frontend, lwc

Create Typings as objects
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Add classMember support to Tag
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

add indexing functionality
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

Remove unused foo.json
  packages/lwc-language-server/src/foo.json
Due: frontend, lwc

fix component name
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Remove #componentDirectories
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

Remove extra test
  packages/lwc-language-server/src/__tests__/typing.test.ts
Due: frontend, lwc
