Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

chore: add missing task argument definition
  .vscode/tasks.json
Due: none

chore: update port-changes logic (@W-8156980) (#256)
  .vscode/tasks.json
  scripts/port-changes.js
Due: none

Updated version 3.0.9
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Updated version 3.0.9 (#257)
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: add context restriction for publish workflows
  .circleci/config.yml
Due: none

chore: add hold job for publish workflow
  .circleci/config.yml
Due: none

chore: add context restriction for publish workflows (#258)
  .circleci/config.yml
Due: none

chore: add lint-staged to package.json
  README.md
  package.json
Due: none

chore: implement commitizen
  .commitlintrc.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.md
  package.json
Due: none

docs: test undo
  README.md
Due: none

chore: add yarn.lock file changes
  yarn.lock
Due: none

fix: handle empty custom labels when creating types (#251)
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

chore: implement commitizen (@W-8165492) (#259)
  .commitlintrc.json
  .vscode/tasks.json
  CONTRIBUTING.md
  README.md
  package.json
  yarn.lock
Due: none

chore: update port logic to handle errors and updates for local branches
  scripts/port-changes.js
Due: none

chore: update port logic to handle errors and updates for local branches (#263)
  scripts/port-changes.js
Due: none

Updated version 3.0.10
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: disable curly braces from triggering completions
  packages/aura-language-server/src/server.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, aura, lwc

fix: test failure
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

fix: disable curly braces from triggering completions (#278)
  packages/aura-language-server/src/server.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, aura, lwc

Updated version 3.0.11
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: catch delimiter error for unsupported queries
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

fix: handle indexing components with invalid tags
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

fix: broken links on hover messages for lwc components
  packages/lwc-language-server/package.json
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

fix: add tests for hover component lib link
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

fix: patch isInteger in tern library
  packages/aura-language-server/src/tern/lib/infer.js
Due: frontend, aura
