Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

config.yml
  .circleci/config.yml
Due: none

update npm badges
  README.md
Due: none

badges
  README.md
Due: none

fix badge links
  README.md
Due: none

Publish v2.2.17 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

update the readme with new publishing instructions
  README.md
Due: none

Publish v2.2.18 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

supply version as a build parameter / update readme
  .circleci/config.yml
  README.md
  package.json
Due: none

Publish v2.2.19 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix bump-versions script
  .circleci/config.yml
Due: none

Publish v2.3.0 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Update aura definitions for usage off core for 224
  packages/aura-language-server/src/resources/aura-standard.json
Due: frontend, aura

Update lock file for definitions
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
Due: frontend, aura

circle slack integration
  .circleci/config.yml
Due: none

typo
  .circleci/config.yml
Due: none

Publish v2.3.1 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

update slack integration [skip-ci]
  .circleci/config.yml
Due: none

Publish v2.3.2 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Aura standard (#64)
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/resources/aura-standard.json
Due: frontend, aura

Upgrade lwc-standard, using the same data format as aura-standard.json
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
Due: frontend, aura, lwc

Update lwc-standard.json in lwc-language-server too
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
  packages/lwc-language-server/src/resources/lwc-standard.json
Due: frontend, lwc

fix: packages/lwc-language-server/package.json to reduce vulnerabilities
  packages/lwc-language-server/package.json
Due: frontend, lwc

Merged with the original lwc-standard version
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/lwc-standard.json
Due: frontend, aura, lwc

Doc
  CONTRIBUTING.md
Due: none

Lwc standard (#73)
  CONTRIBUTING.md
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
  packages/lwc-language-server/src/resources/lwc-standard.json
Due: frontend, aura, lwc

Publish v2.3.3 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.4 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

LMS Removed createMessageChannel from the Intellisense
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
Due: frontend, lwc, common

LMS Removed createMessageChannel from the Intellisense (#86)
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
Due: frontend, lwc, common

[W-6202151] Handle json with comments
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/utils.ts
  yarn.lock
Due: frontend, common

[W-6202151] Handle json with comments (#87)
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/utils.ts
  yarn.lock
Due: frontend, common

fix: packages/aura-language-server/package.json to reduce vulnerabilities
  packages/aura-language-server/package.json
Due: frontend, aura

Publish v2.3.5 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.6 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: rename jsconfig to tsconfig for Win tests
  test-workspaces/oss-lwc-workspace/tsconfig.json
Due: none

fix: removed template tests
  test-workspaces/oss-lwc-workspace/src/modules/my/app/__tests__/app.test.js
  test-workspaces/oss-lwc-workspace/src/modules/my/greeting/__tests__/greeting.test.js
Due: none

Publish v2.3.7 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.8 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.9 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish v2.3.10 to npm [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
