Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

chore: small text addition
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
Due: frontend, common

fix: message service typings file contains incorrect default parameter value for subscribe method (#547)
  packages/lightning-lsp-common/src/resources/sfdx/typings/messageservice.d.ts
Due: frontend, common

@W-12404495- Add wire adapter type for CRUD adapters in lightning/salesEnablementProgramApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Update lds.d.ts
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

@W-12404495@
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore(release): v4.2.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: match startManualRelease and onPushToMain release jobs
  .github/workflows/onPushToMain.yml
  .github/workflows/startManualRelease.yml
Due: none

ci: change to .nvmrc
  .github/workflows/onPushToMain.yml
  .github/workflows/startManualRelease.yml
Due: none

ci: remove unused gitConfig action
  .github/actions/gitConfig/action.yml
Due: none

ci: match startManualRelease and onPushToMain release jobs (#549)
  .github/actions/gitConfig/action.yml
  .github/workflows/onPushToMain.yml
  .github/workflows/startManualRelease.yml
Due: none

chore: linter updates
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat: Add wire adapter type for CRUD adapters in lightning/salesUserWorkingHoursApi (#551)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

ci: update manual release and push to main to allow for nvmrc usage
  .github/workflows/onPushToMain.yml
  .github/workflows/startManualRelease.yml
Due: none

ci: update manual release and push to main to allow for nvmrc usage (#552)
  .github/workflows/onPushToMain.yml
  .github/workflows/startManualRelease.yml
Due: none

chore(release): v4.3.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat(common): add typings for applyReminder
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add typings for applyReminder (#555)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore(release): v4.4.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: remove console.log
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

fix: remove console.log (#556)
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

chore(release): v4.4.1 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: packages/lwc-language-server/package.json & packages/lwc-language-server/package-lock.json to reduce vulnerabilities
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, lwc

fix(core): update core config file and handle read errors
  CONTRIBUTING.md
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix(core): update core config file and handle read errors
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

Update community-contributor label to open Work
  .git2gus/config.json
Due: none

ci: update default build
  .git2gus/config.json
Due: none

ci: Update community-contributor label to open Work (#563)
  .git2gus/config.json
Due: none

fix(core): test workspace update
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
  test-workspaces/core-like-workspace/app/main/core/build/user.properties
Due: frontend, common

fix: update core config file and handle read errors (#564)
  CONTRIBUTING.md
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
  test-workspaces/core-like-workspace/app/main/core/build/user.properties
Due: frontend, common

chore(release): v4.4.2 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: add new lwc directives as autocomplete options in 242/258
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

chore: wrong descriptions
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

chore: fix in README
  README.md
Due: none

test: fixed test
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
Due: frontend, lwc

feat: add new lwc directives as autocomplete options in 242/258 (#565)
  README.md
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/__tests__/lwc-data-provider.test.ts
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

chore(release): v4.5.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
