Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

update to ide-experience
  .github/CODEOWNERS
Due: none

CODEOWNERS Asterisk Fix (#576)
  .github/CODEOWNERS
Due: none

fix: update metadata mapping to handle no getter (#583)
  packages/lwc-language-server/src/javascript/__tests__/fixtures/nogetter.js
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/type-mapping.ts
Due: frontend, lwc

chore(release): v4.7.2 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: Add Edu PostBenefitAssignment adapter
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore: upgrade to node 18
  .nvmrc
  package.json
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc

chore: upgrade to node 18 (#585)
  .nvmrc
  package.json
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc

chore(release): v4.7.3 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: do not write jsconfig.json on core when there is tsconfig.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix: do not write jsconfig.json on core when there is tsconfig.json (#586)
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

chore(release): v4.7.4 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: add auto updating for tsconfig on core
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

feat: initial implementation
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

feat: add tsconfig paths indexer
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/typescript/imports.ts
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
Due: frontend, lwc, common

feat: remove deleted path mappings
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
Due: frontend, lwc

test: add test for context
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
  test-workspaces/core-like-workspace/app/main/core/ui-force-components/modules/force/input-phone/input-phone.ts
  test-workspaces/core-like-workspace/app/main/core/ui-global-components/modules/one/app-nav-bar/app-nav-bar.ts
Due: frontend, lwc, common

test: add basic tests for updating tsconfig
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lwc-language-server/src/__tests__/typescript.test.ts
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
  test-workspaces/core-like-workspace/coreTS/core/tsconfig.json
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/modules/clients/context-library-lwc/context-library-lwc.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/modules/force/input-phone/input-phone.html
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/modules/force/input-phone/input-phone.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/tsconfig.json
  test-workspaces/core-like-workspace/coreTS/core/ui-global-components/modules/one/app-nav-bar/__tests__/app-nav-bar.test.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-global-components/modules/one/app-nav-bar/app-nav-bar.html
  test-workspaces/core-like-workspace/coreTS/core/ui-global-components/modules/one/app-nav-bar/app-nav-bar.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-global-components/modules/one/app-nav-bar/utils.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-global-components/tsconfig.json
  test-workspaces/core-like-workspace/coreTS/core/workspace-user.xml
Due: frontend, lwc, common

test: add more tests
  packages/lwc-language-server/src/__tests__/test-utils.ts
  packages/lwc-language-server/src/__tests__/typescript.test.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/modules/force/input-phone/input-phone.ts
Due: frontend, lwc

test: add more test
  packages/lwc-language-server/src/__tests__/typescript.test.ts
Due: frontend, lwc

fix: minor fix on comments
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/modules/force/input-phone/input-phone.ts
Due: frontend, lwc

fix: minor comment fix
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

fix: simplify logic and add more tests
  packages/lwc-language-server/src/__tests__/typescript.test.ts
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
  test-workspaces/core-like-workspace/coreTS/core/ui-force-components/modules/force/input-phone-js/input-phone-js.js
Due: frontend, lwc

fix: attempt to fix tests on Windows
  packages/lwc-language-server/src/__tests__/typescript.test.ts
Due: frontend, lwc

fix: fix Windows file path
  packages/lwc-language-server/src/typescript/tsconfig-path-indexer.ts
Due: frontend, lwc

feat: Add Edu PostBenefitAssignment adapter (#584)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore(release): v4.8.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: packages/lwc-language-server/package.json to reduce vulnerabilities
  packages/lwc-language-server/package.json
Due: frontend, lwc

feat: add tsconfig and .ts files to forceignore
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

test: add unit tests
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

feat: add support for generating tsconfig.json in context
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

feat: add support for generating tsconfig in lwc-server
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

Update packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
Due: frontend, common

test: fix unit tests
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

test: pin ci to node v18
  .github/workflows/unitTests.yml
Due: none

chore: test node version for ci
  .github/workflows/unitTests.yml
Due: none

test: pin ci to node v18 (#593)
  .github/workflows/unitTests.yml
Due: none

feat: add `tsconfig` and `.ts` file extensions to `.forceignore` (#590)
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

chore(release): v4.9.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common
