Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Replacing non-inclusive content from the repository (W-7953407) (#204)
  packages/aura-language-server/resources/aura/AuraClientService.js
  packages/aura-language-server/resources/aura/AuraComponentService.js
  packages/aura-language-server/resources/aura/AuraInstance.js
  packages/aura-language-server/resources/aura/metrics/plugins/DomHandlersPlugin.js
  packages/aura-language-server/resources/aura/polyfill/Json.js
  packages/aura-language-server/resources/aura/storage/adapters/IndexedDBAdapter.js
  packages/aura-language-server/resources/aura/test/Test.js
  packages/aura-language-server/resources/aura/util/SecureFilters.js
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/resources/aura-standard.json
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/aura-language-server/src/tern-server/aura_types.json
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern/defs/underscore.json
  packages/aura-language-server/src/tern/doc/demo/underscore.js
  packages/lwc-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, aura, lwc

Rollback to package.json thats in develop branch
  packages/aura-language-server/package.json
Due: frontend, aura

Update only dependencies
  packages/aura-language-server/package.json
Due: frontend, aura

rolled back resolve-form dependency
  packages/aura-language-server/package.json
Due: frontend, aura

Update some dependencies
  packages/aura-language-server/package.json
Due: frontend, aura

Update dev dependencies
  packages/aura-language-server/package.json
Due: frontend, aura

Lint lsp common, still work to do here
  .eslintrc.json
  packages/lightning-lsp-common/package-lock.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Same version of fs-extra on the three packages
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, lwc, common

Update dependencies (#203)
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Missed package @salesforce/apex
  packages/lightning-lsp-common/package.json
Due: frontend, common

Moved @salesforce/apex dependency to devdependencies
  packages/lightning-lsp-common/package.json
Due: frontend, common

Missed package @salesforce/apex (#207)
  packages/lightning-lsp-common/package.json
Due: frontend, common

Linter correction
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Fixed some eslint problems
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, common

Delete package-lock.json
  packages/lightning-lsp-common/package-lock.json
Due: frontend, common

Not used variables, and duplicated imports
  packages/aura-language-server/package-lock.json
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/__tests__/ternCompletion.spec.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, aura, lwc

Remove package-lock
  packages/aura-language-server/package-lock.json
Due: frontend, aura

Deleted unused functions, and minor eslint fixes
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
Due: frontend, aura

Moved code for used after declaration, and some minor eslint fixes
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-indexer.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/__tests__/test-utils.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/src/template/linter.ts
  packages/lwc-language-server/src/typing-indexer.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, aura, lwc, common

Not infereable types fixed
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/tern-server/string-util.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
Due: frontend, aura, lwc

Exporting ternerror
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern/lib/tern.js
Due: frontend, aura

Deleted import ternError and copied function
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern/lib/tern.js
Due: frontend, aura

No inferreable fixed, and interfaces that were starting with I prefix, removed
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lwc-language-server/src/aura-data-provider.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
Due: frontend, aura, lwc

Moved check if file outside of promise
  packages/lightning-lsp-common/src/utils.ts
Due: frontend, common

Changed logger to use args instead of arguments, for eslint rules
  packages/lightning-lsp-common/src/logger.ts
Due: frontend, common

Updated version 3.0.4
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Bump of vscode-uri version (#202)
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlLinks.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/test-utils.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/test-workspaces
Due: frontend, lwc, common

Missed dependencies (#200)
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/test-workspaces
Due: frontend, aura, lwc, common

Updated version 3.0.4 (#210)
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Updated version 3.0.5
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Deleted functions that code will never run
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-indexer.ts
Due: frontend, aura

Rever changes for yarn.lock
  yarn.lock
Due: none
