Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Add yarn pack to packages (#235)
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Missed dependencies (#200)
  packages/lightning-lsp-common/package.json
Due: frontend, common

fix: fix lwc server init in core modules (#238)
  .vscode/settings.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

CircleCi failing with snapshot compare (#237)
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

Updated version 3.0.8
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

fix: trigger completions on typing
  packages/aura-language-server/src/server.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, aura, lwc

fix: update lwc capabilities test
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

fix: add { and . as trigger characters
  packages/aura-language-server/src/server.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, aura, lwc

fix: trigger completions on specific characters (#243)
  packages/aura-language-server/src/server.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, aura, lwc

TEST the findWord method in string-utils
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

TEST countPreviousCommas method in string-utils
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

TEST findPreviousLeftParan method in string-utils
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

TEST the findPreviousWord method in string-utils
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

TEST edge cases for string-util methods
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

TEST the startsWith method of the strings class
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, common

TEST endsWith and commonPrefix method of strings
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, common

FIX commonPrefixLength test formatting
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, common

TEST repeat and isLetterOrDigit methods of strings
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, common

ADD edge cases for startsWith and endsWith methods
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, common

fix: eslint errors on new tests
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

fix: more eslint fixes and test tweaks
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, aura, common

Update misspelled variables and test titles
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
Due: frontend, aura

fix: add tests to string util classes (#250)
  packages/aura-language-server/src/tern-server/__tests__/string-util.test.ts
  packages/lightning-lsp-common/src/html-language-service/utils/__tests__/strings.test.ts
Due: frontend, aura, common

fix: handle empty custom labels when creating types
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

feat(common) add typings for getObjectInfos
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common) add typings for getObjectInfos (#252)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Updated version 3.0.8 (#253)
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: automation for porting commits from develop to main (@W-8156980)
  .vscode/tasks.json
  package.json
  scripts/port-changes.js
Due: none

chore: automation for porting commits from develop to main (@W-8156980) (#254)
  .vscode/tasks.json
  package.json
  scripts/port-changes.js
Due: none

Updated version 3.0.9
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: porting updated port-changes from the SDR library
  .vscode/tasks.json
  scripts/port-changes.js
Due: none
