Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

fix: handle indexing components with invalid tags (#293)
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
Due: frontend, aura

fix: patch isInteger in tern library (#295)
  packages/aura-language-server/src/tern/lib/infer.js
Due: frontend, aura

fix: component library links for onhover results (#294)
  packages/lwc-language-server/package.json
  packages/lwc-language-server/scripts/convert.js
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, lwc

fix: catch delimiter error for unsupported queries (#292)
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

docs: update setup documentation
  README.md
  packages/lwc-language-server/CONTRIBUTING.md
Due: frontend, lwc

docs: update documentation for aura
  packages/aura-language-server/CONTRIBUTING.md
Due: frontend, aura

docs: update lightning lsp documentation for debugging (#298)
  README.md
  packages/aura-language-server/CONTRIBUTING.md
  packages/lwc-language-server/CONTRIBUTING.md
Due: frontend, aura, lwc

Updated version 3.0.12
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat(common): add analyticsWaveApi types
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add better comment on discriminator field
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add analyticsWaveApi types (#369)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore: remove codecov
  .circleci/config.yml
  README.md
  codecov.yml
Due: none

chore: remove codecov (#371)
  .circleci/config.yml
  README.md
  codecov.yml
Due: none

Port v3.0.13 (#380)
  .circleci/config.yml
  README.md
  codecov.yml
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix: fix issue with automation token
  package.json
Due: none

fix: fix issue with automation token (#379)
  package.json
Due: none

Updated version 3.0.13
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Add typings for getMetrics Scale Center LDS adapter
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add doc urls to analyticsWaveApi method jsdocs
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix: remove unneeded .html prefix from doc urls
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add doc urls to analyticsWaveApi method jsdocs (#433)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Updated version 3.0.14
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat(common): add 234 analyticsWaveApi types
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): replace wave with Tableau CRM
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add method doc link
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
