Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

Update js onCompletion to Folder and file name
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Update js onCompletion to Folder and file name (#199)
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Updated version 3.0.4
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Added missed dependencies in three package.json files
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Difference between OS, so the tests may not be affected by routes
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/test-utils.test.ts
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
Due: frontend, common

Bump of vscode-uri version, and updated code as URI is not longer a export default
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlLinks.ts
  packages/lightning-lsp-common/src/utils.ts
Due: frontend, common

Bumep vscode-uri for lwc-language-server package
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/test-workspaces
Due: frontend, lwc

Updated dependencies for lwc-language-server that needed minor corrections
  packages/lwc-language-server/package.json
Due: frontend, lwc

Bumped dependencies for aura-language-server
  packages/aura-language-server/package.json
Due: frontend, aura

Updated typescript dependency into aura-language-server package
  packages/aura-language-server/package.json
Due: frontend, aura

Bumped typescript package into lwc-language-server package
  packages/lwc-language-server/package.json
Due: frontend, lwc

Missed URI between brackets
  packages/lwc-language-server/src/__tests__/test-utils.ts
Due: frontend, lwc

Bump of vscode-uri version (#202)
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/test-utils.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlCompletion.ts
  packages/lightning-lsp-common/src/html-language-service/services/htmlLinks.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/test-utils.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/test-workspaces
Due: frontend, lwc, common

Revert "Added missed dependencies in three package.json files"
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Added missed dependency on common lsp
  packages/lightning-lsp-common/package.json
Due: frontend, common

Revert "temporarily remove pre push and pre commit tasks"
  .huskyrc
  package.json
  packages/aura-language-server/.huskyrc
  packages/aura-language-server/.lintstagedrc
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/.huskyrc
  packages/lwc-language-server/.lintstagedrc
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Revert "Set eslint configuration, delete tslint configs, first pass at fixing eslint errors and warnings"
  .eslintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  packages/aura-language-server/.eslintrc.js
  packages/aura-language-server/.eslintrc.json
  packages/aura-language-server/package.json
  packages/aura-language-server/tslint.json
  packages/lightning-lsp-common/.eslintignore
  packages/lightning-lsp-common/.eslintrc.json
  packages/lightning-lsp-common/.huskyrc
  packages/lightning-lsp-common/.lintstagedrc
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/src/component-util.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/tslint.json
  packages/lwc-language-server/.eslintrc.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/tslint.json
  yarn.lock
Due: frontend, aura, lwc, common

Missed jest-extended dependency on aura-language-server
  packages/aura-language-server/package.json
Due: frontend, aura

Missed test-workspaces that was breaking circle-ci
  packages/lwc-language-server/test-workspaces
Due: frontend, lwc

Missed dependencies (#200)
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/test-workspaces
Due: frontend, aura, lwc, common

Updated to be the same version dependencies into the other packages
  packages/lightning-lsp-common/package.json
Due: frontend, common

Updated to be the same version dependencies into the other packages (aura-language-server)
  packages/aura-language-server/package.json
Due: frontend, aura

Updated to be the same version dependencies into the other packages (lwc-langauge-server)
  packages/lwc-language-server/package.json
Due: frontend, lwc

Moved glob again to dependencies, as its used on utils
  packages/lightning-lsp-common/package.json
Due: frontend, common

Moved @lwc/engine to be part of dependencies again
  packages/lwc-language-server/package.json
Due: frontend, lwc

Deleted package-lock.json
  packages/aura-language-server/package-lock.json
Due: frontend, aura

Added shelljs dependency that was missing
  packages/lightning-lsp-common/package.json
Due: frontend, common

URI not anymore exported as default
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
Due: frontend, aura

URI not anymore exported as default
  packages/aura-language-server/src/server.ts
Due: frontend, aura

downgrade of @types/fs-extra to test if circle ci passes some problems
  packages/aura-language-server/package.json
Due: frontend, aura

Upgrading fs-extra again, test on circle ci
  packages/aura-language-server/package.json
Due: frontend, aura

Replacing non-inclusive content from the repository (W-7953407)
  packages/aura-language-server/resources/aura/AuraClientService.js
  packages/aura-language-server/resources/aura/AuraComponentService.js
  packages/aura-language-server/resources/aura/AuraInstance.js
  packages/aura-language-server/resources/aura/metrics/plugins/DomHandlersPlugin.js
  packages/aura-language-server/resources/aura/polyfill/Json.js
  packages/aura-language-server/resources/aura/storage/adapters/IndexedDBAdapter.js
  packages/aura-language-server/resources/aura/test/Test.js
  packages/aura-language-server/resources/aura/util/SecureFilters.js
  packages/aura-language-server/src/aura-indexer/__tests__/__snapshots__/indexer.spec.ts.snap
  packages/aura-language-server/src/resources/aura-standard.json
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/aura-language-server/src/tern-server/aura_types.json
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern/defs/underscore.json
  packages/aura-language-server/src/tern/doc/demo/underscore.js
  packages/lwc-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, aura, lwc

Downgrade to @types/fs-extra
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Rollback of vscode-uri, this was breaking the circleci flow
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
Due: frontend, aura

Rollback to old version of vscode-uri
  packages/aura-language-server/src/server.ts
Due: frontend, aura

Revert package.json to see if circleci tests passes
  packages/aura-language-server/package.json
Due: frontend, aura

Added test-workspaces so windows tests can run
  packages/aura-language-server/test-workspaces
Due: frontend, aura

Package.json on aura updated
  packages/aura-language-server/package.json
Due: frontend, aura

Checkout to older commit in test-workspaces
  packages/aura-language-server/test-workspaces
Due: frontend, aura

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
