Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Missing await async function
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/utils.ts
Due: frontend, common

Yarn.lock re-added, so the circle ci can run, as its running with freeze lock files
  yarn.lock
Due: none

Changes that were not merged
  packages/aura-language-server/src/tern-server/tern-aura.ts
  yarn.lock
Due: frontend, aura

Restoed yarn.lock from develop
  yarn.lock
Due: none

Added returning types to some functions
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/lightning-lsp-common/src/logger.ts
  packages/lightning-lsp-common/src/shared.ts
Due: frontend, aura, common

Eslint retrun types, and types of variables
  .eslintrc.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/string-util.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/logger.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/typings/missing.d.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/base-indexer.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, aura, lwc, common

Eslint functions without logic (#213)
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
Due: frontend, aura

Eslint fixes returning types and variables types (#214)
  .eslintrc.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/string-util.ts
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/__tests__/utils.test.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/logger.ts
  packages/lightning-lsp-common/src/shared.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lightning-lsp-common/typings/missing.d.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  packages/lwc-language-server/src/base-indexer.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, aura, lwc, common

Remove tslint references. Fix vscode setting differences.
  .vscode/settings.json
  packages/aura-language-server/.vscode/extensions.json
  packages/aura-language-server/.vscode/settings.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/.vscode/extensions.json
  packages/lightning-lsp-common/.vscode/settings.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/.vscode/extensions.json
  packages/lwc-language-server/.vscode/settings.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  vscode-workspaces/multiroot-flat.code-workspace
  vscode-workspaces/multiroot-simple.code-workspace
  yarn.lock
Due: frontend, aura, lwc, common

Move script build to node script
  packages/aura-language-server/package.json
  packages/aura-language-server/scripts/build.js
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/build.js
  packages/lwc-language-server/package.json
  packages/lwc-language-server/scripts/build.js
Due: frontend, aura, lwc, common

Remove tslint references. Fix vscode setting differences. (#215)
  .vscode/settings.json
  packages/aura-language-server/.vscode/extensions.json
  packages/aura-language-server/.vscode/settings.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/.vscode/extensions.json
  packages/lightning-lsp-common/.vscode/settings.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/.vscode/extensions.json
  packages/lwc-language-server/.vscode/settings.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
  vscode-workspaces/multiroot-flat.code-workspace
  vscode-workspaces/multiroot-simple.code-workspace
  yarn.lock
Due: frontend, aura, lwc, common

Moved code of copy static assets to build script
  packages/aura-language-server/copy-static-assets.ts
  packages/aura-language-server/package.json
  packages/aura-language-server/scripts/build.js
  packages/lightning-lsp-common/copy-static-assets.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/build.js
Due: frontend, aura, common

Change path, as it was getting troubles with linux
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/build.js
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Deleted bash init of file, this is a .js
  packages/lightning-lsp-common/scripts/copy_typings.js
Due: frontend, common

Mistype comma
  packages/lightning-lsp-common/scripts/build.js
Due: frontend, common

updated @lwc/babel-plugin-component dependency
  packages/lightning-lsp-common/package.json
Due: frontend, common

Updated @lwc/babel-plugin-component on both packages
  packages/lwc-language-server/package.json
Due: frontend, lwc

Added chmod 755 to build.js in each package, and removed the node on build script, also all build.js now are shebang
  packages/aura-language-server/package.json
  packages/aura-language-server/scripts/build.js
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/build.js
  packages/lwc-language-server/package.json
  packages/lwc-language-server/scripts/build.js
Due: frontend, aura, lwc, common

Git chmod +x on each build.js
  packages/aura-language-server/scripts/build.js
  packages/lightning-lsp-common/scripts/build.js
  packages/lwc-language-server/scripts/build.js
Due: frontend, aura, lwc, common

Update packages/aura-language-server/scripts/build.js
  packages/aura-language-server/scripts/build.js
Due: frontend, aura

Duplicated shebang
  packages/aura-language-server/scripts/build.js
Due: frontend, aura

Readded node commando to build scrit, as it was throwing errors on windows
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

yarn.lock re-builded without the ts-node dependency
  yarn.lock
Due: none

Add node shebang
  packages/lightning-lsp-common/scripts/copy_typings.js
Due: frontend, common

Move script build to node script (#216)
  packages/aura-language-server/package.json
  packages/aura-language-server/scripts/build.js
  packages/lightning-lsp-common/copy-static-assets.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/build.js
  packages/lightning-lsp-common/scripts/copy_typings.js
  packages/lwc-language-server/package.json
  packages/lwc-language-server/scripts/build.js
  yarn.lock
Due: frontend, aura, lwc, common

Updated the dependency @lwc/engine
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/scripts/copy_typings.js
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, lwc, common

Remove tslint references. Fix vscode setting differences. (#215)
  .vscode/settings.json
  packages/aura-language-server/.vscode/extensions.json
  packages/aura-language-server/.vscode/settings.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/tern-server/tern-aura.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/.vscode/extensions.json
  packages/lightning-lsp-common/.vscode/settings.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lwc-language-server/.vscode/extensions.json
  packages/lwc-language-server/.vscode/settings.json
  packages/lwc-language-server/package.json
  vscode-workspaces/multiroot-flat.code-workspace
  vscode-workspaces/multiroot-simple.code-workspace
  yarn.lock
Due: frontend, aura, lwc, common

Updated version 3.0.6
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Reverse upgrade of dependency @lwc/babel-plugin-component
  packages/lwc-language-server/package.json
Due: frontend, lwc

Reverse salesforce apex dependency was deleted
  packages/lightning-lsp-common/package.json
Due: frontend, common

Delted @lwc/babel-plugin-component dependency, and created the decortator class, that was deleted from that dependency
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/decorators/index.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/decorators/index.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc, common

Updated @lwc dependency, pending @lwc/compiler
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, lwc
