Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

feat: configure `sfdx` workspace to write `tsconfig` files (#591)
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

chore(release): v4.10.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: update component-indexer to update tsconfig path mapping
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

test: add component-indexer tests
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/typescript/typescript.html
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/typescript/typescript.js-meta.xml
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/typescript/typescript.ts
Due: frontend, lwc

feat: update lwc-server to upate tsconfig path mapping
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/constants.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

test: add unit tets for lwc-server
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

chore: remove unused import
  packages/lightning-lsp-common/src/utils.ts
Due: frontend, common

chore: update test names
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

chore: add skipping lib check
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
Due: frontend, common

chore: fix tests
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

feat: support lwc-record-picker
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, aura, lwc

refactor: write logic for updating path mapping
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

test: update unit tests
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

feat: support lwc-record-picker (#595)
  packages/aura-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/lwc-standard.json
  packages/lwc-language-server/src/resources/standard-lwc.json
Due: frontend, aura, lwc

chore(release): v4.11.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Update packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
Due: frontend, lwc

feat: automatically update `tsconfig.sfdx.json`'s paths (#594)
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/constants.ts
  packages/lwc-language-server/src/lwc-server.ts
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/typescript/typescript.html
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/typescript/typescript.js-meta.xml
  test-workspaces/sfdx-workspace/force-app/main/default/lwc/typescript/typescript.ts
Due: frontend, lwc, common

chore(release): v4.12.0 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: add dependabot and automerge strategy
  .github/dependabot.yml
  .github/workflows/automerge.yml
Due: none

fix: valid js config file
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/resources/sfdx/jsconfig-sfdx.json
Due: frontend, common

fix: valid js config file (#597)
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/resources/sfdx/jsconfig-sfdx.json
Due: frontend, common

chore(release): v4.12.1 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: add dependabot and automerge strategy (#596)
  .github/dependabot.yml
  .github/workflows/automerge.yml
Due: none

fix(forceignore): only add tsconfig + ts to forceignore for TS projects
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/src/context.ts
Due: frontend, common

fix(tsconfig): enforce module: NodeNext
  packages/lightning-lsp-common/src/resources/sfdx/tsconfig-sfdx.base.json
Due: frontend, common

test(context): add missing prop to assertion
  packages/lightning-lsp-common/src/__tests__/context.test.ts
Due: frontend, common

chore(release): v4.12.2 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: node update
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore: update nvmrc file
  .nvmrc
Due: none

chore: some more dependencies bumps
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/template/linter.ts
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, lwc, common

chore: some more dependencies bumps part 2
  packages/aura-language-server/jest.config.js
  packages/lightning-lsp-common/jest.config.js
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lwc-language-server/jest.config.js
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore: some more dependencies bumps part 3
  packages/aura-language-server/package.json
  packages/aura-language-server/typings/chokidar.d.ts
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/typings/chokidar.d.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/typings/chokidar.d.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore: some more dependencies bumps part 4 - glob, jest, shell
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/tern/package.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore: undo glob bump. ugh windows
  packages/aura-language-server/package.json
  packages/aura-language-server/src/__tests__/package-dependencies.test.ts
  packages/aura-language-server/src/tern/package.json
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/package-dependencies.test.ts
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/package-dependencies.test.ts
  yarn.lock
Due: frontend, aura, lwc, common

chore(W-16301365): update node to v20 + bunch of deps (#606)
  .nvmrc
  package.json
  packages/aura-language-server/jest.config.js
  packages/aura-language-server/package.json
  packages/aura-language-server/typings/chokidar.d.ts
  packages/lightning-lsp-common/jest.config.js
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/__tests__/context.test.ts
  packages/lightning-lsp-common/typings/chokidar.d.ts
  packages/lwc-language-server/jest.config.js
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/__tests__/type-mapping.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/template/linter.ts
  packages/lwc-language-server/typings/chokidar.d.ts
  test-workspaces/standard-workspace/package.json
  yarn.lock
Due: frontend, aura, lwc, common

chore(release): v4.12.3 [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: rename top-level pkg
  package.json
Due: none

chore: allow json imports
  packages/aura-language-server/tsconfig.json
Due: frontend, aura

fix: load defs from static file path
  packages/aura-language-server/src/tern-server/tern-aura.ts
Due: frontend, aura

test: snapshots with full tested aura details
  packages/aura-language-server/src/tern-server/__tests__/__snapshots__/ternCompletion.spec.ts.snap
  packages/aura-language-server/src/tern-server/tern-server.ts
Due: frontend, aura

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
