Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

codecov.yml:

comment:
  layout: "header, diff, flags, files, tree"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  branches: null
  flags: null
  paths: null
flags:
  frontend:
    paths:
      - packages/aura-language-server/
      - packages/lwc-language-server/
      - packages/lightning-lsp-common/
  aura:
    paths:
      - packages/aura-language-server/
  lwc:
    paths:
      - packages/lwc-language-server/
  common:
    paths:
      - packages/lightning-lsp-common/

Add testing on windows
  .appveyor.yml
  .circleci/config.yml
Due: none

Adding tests
  .circleci/config.yml
Due: none

Trying to fix windows
  .circleci/config.yml
Due: none

Update lock file
  .circleci/config.yml
  yarn.lock
Due: none

Use toEqual vs toBe
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
Due: frontend, lwc

Normalize encoding before comparing strings
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  yarn.lock
Due: frontend, lwc

Types for utf8
  packages/lwc-language-server/package.json
Due: frontend, lwc

Upgrade windows orb and update lock file
  .circleci/config.yml
  yarn.lock
Due: none

Add debugging to verify
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
Due: frontend, lwc

CharCodeAt
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
Due: frontend, lwc

Normalize line endings
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  yarn.lock
Due: frontend, lwc

Normalize file line endings too
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
Due: frontend, lwc

Cleanup for code review, remove utf8
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  yarn.lock
Due: frontend, lwc

Publish publicly for the lsps
  package.json
Due: none

[skip ci] v2.2.10
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Release [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Publish NPM [skip ci]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Skip CI on version update
  package.json
Due: none

Publish to npmjs instead of lwcjs
  .npmrc
  README.md
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc, common

Reference packages in their @salesforce scope
  packages/aura-language-server/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc

Move references to @salesforce
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/__tests__/ternCompletion.spec.ts
  packages/lwc-language-server/src/__tests__/config.test.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlCompletion.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlDefinition.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlOver.test.ts
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/markup/lwcTags.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-components-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/content-assets-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-labels-util.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
  packages/lwc-language-server/src/server.ts
Due: frontend, aura, lwc

v2.2.8
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Use --exact, update doc to use yarn publish-lsp
  README.md
  package.json
Due: none

Use exact versions for the language servers
  packages/aura-language-server/package.json
Due: frontend, aura

v2.2.9
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

More updates to the scope for the package name
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
Due: frontend, aura, lwc

Rebase and add deploy
  .circleci/config.yml
Due: none

Publish as public, regen log file
  package.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  yarn.lock
Due: frontend, aura, lwc, common

Regen lock file after merging master
  yarn.lock
Due: none

Remove build job
  .circleci/config.yml
Due: none

remove unused types dependency
  packages/lwc-language-server/package.json
Due: frontend, lwc

Add CircleCI publishi to npmjs (#45)
  .circleci/config.yml
  .npmrc
  README.md
  lerna.json
  package.json
  packages/aura-language-server/package.json
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
  packages/aura-language-server/src/aura-indexer/indexer.ts
  packages/aura-language-server/src/aura-utils.ts
  packages/aura-language-server/src/markup/auraTags.ts
  packages/aura-language-server/src/server.ts
  packages/aura-language-server/src/tern-server/__tests__/ternCompletion.spec.ts
  packages/aura-language-server/src/tern-server/tern-server.ts
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/__tests__/config.test.ts
  packages/lwc-language-server/src/config.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlCompletion.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlDefinition.test.ts
  packages/lwc-language-server/src/html-language-service/__tests__/htmlOver.test.ts
  packages/lwc-language-server/src/indexer.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/markup/lwcTags.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/custom-components-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/message-channel-util.test.ts
  packages/lwc-language-server/src/metadata-utils/__tests__/util.ts
  packages/lwc-language-server/src/metadata-utils/content-assets-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-components-util.ts
  packages/lwc-language-server/src/metadata-utils/custom-labels-util.ts
  packages/lwc-language-server/src/metadata-utils/message-channel-util.ts
  packages/lwc-language-server/src/metadata-utils/static-resources-util.ts
  packages/lwc-language-server/src/server.ts
  yarn.lock
Due: frontend, aura, lwc, common
