Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

feat(common): add method doc link
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Add typings for getMetrics Scale Center LDS adapter (#449)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat: add 234 analyticsWaveApi types (#450)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): Add module & typings for @W-9718079 relatedListUiApi
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix: renamed master to main
  CONTRIBUTING.md
  README.md
Due: none

fix: renamed master to main (#454)
  CONTRIBUTING.md
  README.md
Due: none

Updated version 3.0.15
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

Updated/Added CODEOWNERS with ECCN
  .github/CODEOWNERS
Due: none

chore: every commit to main triggers the publish workflow
  .circleci/config.yml
Due: none

chore: every commit to main triggers the publish workflow - 2
  .circleci/config.yml
Due: none

chore: every commit to main triggers the publish workflow - 3
  .circleci/config.yml
Due: none

chore: every commit to main triggers the publish workflow - 4
  .circleci/config.yml
Due: none

chore: every commit to main triggers the publish workflow - 5
  .circleci/config.yml
Due: none

feat(common): Add module & typings for @W-9718079 relatedListUiApi (#453)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

chore: every commit to main triggers the publish workflow (#456)
  .circleci/config.yml
Due: none

Updated version 3.0.16
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

chore: fix default release version to be minor
  .circleci/config.yml
Due: none

chore: fix default release version to be minor (#463)
  .circleci/config.yml
Due: none

Updated version 3.1.0 [ci skip]
  lerna.json
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/package.json
  packages/lwc-language-server/package-lock.json
  packages/lwc-language-server/package.json
Due: frontend, aura, lwc, common

feat: Add type for getDataflow wire adapter
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat: add binding variable completion support
  packages/lightning-lsp-common/src/utils.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc, common

Update CODEOWNERS with GUSINFO
  .github/CODEOWNERS
Due: none

chore: ignoring a test to isolate a failure in circleci
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

chore: ignoring a test to isolate a failure in circleci (#472)
  packages/aura-language-server/src/aura-indexer/__tests__/indexer.spec.ts
Due: frontend, aura

feat(common): add typings for rl batch wires
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feat(common): add typings for rl batch wires (#473)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix(launch.json and package.json): all tests and build step
  .vscode/launch.json
  packages/lwc-language-server/package.json
Due: frontend, lwc

Updating README with images and adding types/jest.
  README.md
  imgs/workspace-flat.png
  imgs/workspace-simple.png
  package.json
  yarn.lock
Due: none

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
