Repository forcedotcom/lightning-language-server: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, aura, lwc, common

Clean up and add helpful comments
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/server.ts
Due: frontend, lwc

Handle LWC and Aura Invocation for onHover, onCompletion and onDefinition
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/tag.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/lwc-data-provider.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

Format completionItems for aura templates
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

fix find tag by name
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

Update paths to resolve properly on Windows and linux
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/javascript/compiler.ts
  packages/lwc-language-server/src/lwc-server.ts
  packages/lwc-language-server/src/tag.ts
  packages/lwc-language-server/src/typing-indexer.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Don't use '/' in regexes for paths
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/typing-indexer.ts
  packages/lwc-language-server/src/typing.ts
Due: frontend, lwc

Resolve and join all the paths
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
  packages/lwc-language-server/src/__tests__/typing.test.ts
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

fix path for location
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

Use path.resolve with args
  packages/lwc-language-server/src/__tests__/typing-indexer.test.ts
Due: frontend, lwc

added normalize for glob patterns
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/component-indexer.ts
  packages/lwc-language-server/src/typing-indexer.ts
  yarn.lock
Due: frontend, lwc

fix paths in tests
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

update how we resolve paths in tests
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
Due: frontend, lwc

update typing indexer paths
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

remove bad console log
  packages/lwc-language-server/src/typing-indexer.ts
Due: frontend, lwc

update tag.allLocations
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

change how we use URI
  packages/lwc-language-server/src/lwc-server.ts
Due: frontend, lwc

makes onCompletion work again on mac
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

update how we create URI in test
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

Don't use URI.file
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

update test to proper URI pattern
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

update tests to reflect URI changes
  packages/lwc-language-server/src/__tests__/component-indexer.test.ts
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

update findByURI so it doesn't re parse the URI
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc

update test
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

change Tag.uri to use toString
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

update all locations logic
  packages/lwc-language-server/src/tag.ts
Due: frontend, lwc

more test updates
  packages/lwc-language-server/src/__tests__/lwc-server.test.ts
Due: frontend, lwc

feat(common): add typings for getObjectInfos
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

fix error in SLDS extension
  packages/lwc-language-server/src/constants.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

fix error in SLDS extension (#175)
  packages/lwc-language-server/src/constants.ts
  packages/lwc-language-server/src/javascript/__tests__/compiler.test.ts
  packages/lwc-language-server/src/javascript/compiler.ts
Due: frontend, lwc

update uiRecordApi types; update getListUi comments
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

clean up
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

update links
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

feedback from Diana
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

Update lds.d.ts for 226 (#176)
  packages/lightning-lsp-common/src/resources/sfdx/typings/lds.d.ts
Due: frontend, common

First set of changes
  packages/lightning-lsp-common/.npmignore
  packages/lightning-lsp-common/package.json
  yarn.lock
Due: frontend, common

Update npmignore and remove unused dependencies
  .gitignore
  packages/aura-language-server/.npmignore
  packages/aura-language-server/package.json
  packages/lightning-lsp-common/.npmignore
  packages/lwc-language-server/.npmignore
Due: frontend, aura, lwc, common

Fix missing dependencies and test failures
  packages/lightning-lsp-common/package.json
  yarn.lock
Due: frontend, common

Update dependencies, remove unused imports
  packages/lightning-lsp-common/package.json
  packages/lightning-lsp-common/src/context.ts
  packages/lightning-lsp-common/src/indexer/tagInfo.ts
  packages/lwc-language-server/package.json
  packages/lwc-language-server/src/component-indexer.ts
Due: frontend, lwc, common

Include resources/aura in npm publishing
  packages/aura-language-server/.npmignore
Due: frontend, aura

Path conditions:
  frontend: any of: packages/aura-language-server/, packages/lwc-language-server/, packages/lightning-lsp-common/
  aura: any of: packages/aura-language-server/
  lwc: any of: packages/lwc-language-server/
  common: any of: packages/lightning-lsp-common/
